<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p><%= link_to 'Create New Pokemon', pokemons_path %></p>
<table>
	<caption>Pokemons</caption>
	<tr>
		<th>Name</th>
		<th>Level</th>
		<th>Health</th>
		<th>Experience</th>
		<th>
			Damage using
			<select>
				<% current_trainer.pokemons.where("id > ?", 0).each do |my_pokemon| %>
			  	<option value="<%= my_pokemon.id %>"><%= my_pokemon.name %></option>
			  <% end %>
			</select>
		</th>
		<th>Heal!</th>
	</tr>
	<% @trainer.pokemons.each do |pokemon| %>
		<% if (current_trainer.id.to_s != params[:id]) and pokemon.health == 0 %>
			<% next %>
		<% end %>
	<tr>
		<td><%= pokemon.name %></td>
		<td><%= pokemon.level %></td>
		<td><%= pokemon.health %></td>
		<td><%= pokemon.experience %></td>
		<td>
		<% if(current_trainer.id.to_s != params[:id]) %>
			<%= link_to 'Damage!', damage_heal_path(:pokemon_id => pokemon, :option => 'damage'), :method => :patch, style: "color: #D8000C;", :name => :damage %>
		<% end %>
		</td>
		<td>
		<% if(current_trainer.id.to_s == params[:id]) %>
			<%= link_to 'Heal!', damage_heal_path(:pokemon_id => pokemon, :option => 'heal'), :method => :patch, style: "color: #4F8A10;" %>
		<% end %>
		</td>
	</tr>
<% end %>
</ul>
<script type="text/javascript">
	$(document).ready(function (){
		$('a[name="damage"]').click(function (e){
			e.preventDefault();
			var href = $(this).attr("href");
			href += "&my_pokemon=" + $('select').val();
			$(this).attr("href", href);
		})
	});
</script>
